services:
  primary-pocketbase:
    image: ghcr.io/muchobien/pocketbase:0.34.2
    container_name: primary-pocketbase
    volumes:
      - ./data/primary:/pb_data
    ports:
      - "8090:8090"
    networks:
      - replited_net
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 5

  primary-replited:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: primary-replited
    depends_on:
      primary-pocketbase:
        condition: service_healthy
    ports:
      - "50051:50051"
    volumes:
      - ./data/primary:/pb_data
      - ./config/primary.toml:/etc/replited.toml
    privileged: true
    networks:
      - replited_net
    command: ["-c", "/etc/replited.toml", "replicate"]

  replica-pocketbase:
    image: ghcr.io/muchobien/pocketbase:0.34.2
    container_name: replica-pocketbase
    depends_on:
      replica-replited:
        condition: service_healthy
    volumes:
      - ./data/replica:/pb_data
    ports:
      - "8091:8090"
    networks:
      - replited_net
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:8090/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 5

  replica-replited:
    build:
      context: ..
      dockerfile: Dockerfile.dev
    container_name: replica-replited
    privileged: true
    volumes:
      - ./data/replica:/pb_data
      - ./config/replica.toml:/etc/replited.toml
    networks:
      - replited_net
    command: ["-c", "/etc/replited.toml", "replica-sidecar"]
    healthcheck:
      test: ["CMD-SHELL", "test -f /pb_data/data.db"]
      interval: 1s
      timeout: 5s
      retries: 30

networks:
  replited_net:
    driver: bridge
